<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits app</title>
</head>
<body>
    <a href="/auth/sign-up">Sing Up</a>
    <h1>Welcome to the Fruits App</h1>
    <p>An app for collection your favorite fruits.</p>
    <a href="/fruits">Browse Fruits</a>
    <a href="/fruits/new">New Fruit</a>
</body>
</html>