<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= fruit.name %></title>
</head>
<body>
    <h1><%= fruit.name %></h1>
    <p>is the fruit ready to eay? <%= fruit.isReadyToEat %></p>
    <a href="/fruits">Back to Fruits</a>
</body>
</html>